<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="viu-local" value="..\viu\_out\packages" />
    <add key="viu-platforms-local" value="..\viu-platforms\_out\packages" />
    <add key="cohesion-local" value="..\cohesion\_out\packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="viu-local">
      <package pattern="Assimalign.Viu.*" />
    </packageSource>
    <packageSource key="viu-platforms-local">
      <package pattern="Assimalign.Cohesion.Viu.*" />
    </packageSource>
    <packageSource key="cohesion-local">
      <package pattern="Assimalign.Cohesion.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
